<div>
  <label for="password">Password</label>
  <input class="form-field" type="text" id="password" name="password" placeholder="Password" ng-model="password" ng-minlength="7" ng-maxlength="25" ng-hide="viewPassword" required />  
  <input class="form-field" type="password" id="password" name="password" placeholder="Password" ng-model="password" ng-minlength="7" ng-maxlength="25" ng-show="viewPassword" required /> 
  <input type="checkbox" class="chk chk-mini" ng-click="showPassword()"><span ng-show="viewPassword">Show</span><span ng-hide="viewPassword">Hide</span>
</div>