body {
	background: lighten($primary-color, 50%);
}
fieldset legend {
	display: none;
}
label {
	display: block;
	font-weight: bold;
}
form {
    float: left;
    width: 50%;
    padding: 2%;
    position: relative;
    background: lighten($primary-color, 53%);
    @include respond-to(handhelds) { 
        width: 96%;
    }
}
.form-field {
    width: 97%;
    padding: 5px;
    border: 1px solid #ccc;
    @include border-radius(2px);
}
.btn {
    color: #fff;
    padding: 10px;
}