.wrapper {
	margin: 0 auto;
	max-width: $primary-width;
	background: #fff;
}
.header-content-wrapper {
    float: left;
	width: 100%;
    background: lighten($primary-color, 30%);
    
    li {
        a {
            color: darken($primary-color, 50%);
            float: left;
            padding: 10px 30px;
        }
    }
}
.nav-primary {
    @include respond-to(handhelds) { 
        display: none;
    }
}
.list-operation-user {
    li:first-child {
        a {
            background: lighten($primary-color, 20%);
        }
    }
    li {
        a {
            background: lighten($primary-color, 10%);
        }
    }
}
.breadcrumb {
    font-size: .8em;
    padding: 3px;
    background: lighten($primary-color, 40%);
}
.title-heading {
	font-size: 3em;
	margin-top: 30px;
	font-weight: bold;
    
    span {
        display: block;
	   font-size: .5em;
    }
}
.main {
	padding: 2%;
}
.form-wrapper {
    padding: 1%;
    overflow: hidden;
    background: lighten($primary-color, 48%);
}
aside {
    float: left;
    width: 40%;
    margin-left: 5%;
    text-align: center;
    @include respond-to(handhelds) { 
        padding: 20px 0;
        width: 96%;
    }
}